 
select option {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

label {
  display: block; /* Make labels block-level elements */
  font-size: 30px;
}
ul li{
  list-style: none;
}
ul{
  display: flex;
  align-items: center;
 
}
ul li img{
  width: 200px;
  height: 200px;
}